/*Algemeen*/

body {
    background-color: #f1f1f1;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.section {
    width: 100%;
    height: auto;
}

.section--padding-bottom {
    padding-bottom: 70px;
}

.section--padding-top {
    padding-top: 50px;
}

.section--padding {
    padding: 70px 0;
}

@media (max-width: 786px) {
    .section--padding-bottom {
        padding-bottom: 30px;
    }
    .section--padding-top {
        padding-top: 20px;
    }
    .section--padding {
        padding: 30px 0;
    }
}

.section--wrapper {
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.section--wrapper-info {
    background: url('../img/info/header-bg-info.jpg') no-repeat;
    background-size: cover;
}

.section--color {
    background: rgba(131, 33, 81, .8);
}

.section--color p {
    color: white;
}

.section--neutral {
    background: #d8d8d8;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-100 {
    width: 100%;
    margin: 0 auto;
}

.container:after,
.container-100:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
}

.col-3 {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.col-3:nth-child(3) {
    margin-right: 0;
}

@media (max-width: 786px) {
    .col-3 {
        float: left;
        width: 100%;
        margin-right: 0;
    }
}

.col-4 {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.col-4:nth-child(4n) {
    margin-right: 0;
}

@media (max-width: 786px) {
    .col-4 {
        float: left;
        width: 100%;
        margin-right: 0;
    }
}

.col-2-video {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.col-2-video:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .col-2-video {
        float: left;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        text-align: center;
    }
}

.newscol--left {
    float: left;
    width: 30%;
    margin-right: 2%;
}

.newscol--left a {
    display: block;
}

.newscol--right {
    float: left;
    width: 68%;
}

@media (max-width: 786px) {
    .newscol--left,
    .newscol--right {
        float: none;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .newscol--left {
        margin-bottom: 20px;
    }
}

.col-2 {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.col-2:nth-child(2) {
    margin-right: 0;
}

@media (max-width: 1200px) {
    .col-2 {
        float: left;
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 786px) {
    .col-2 {
        float: left;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}

.wysiwyg {
    width: 70%;
    margin: 0 auto;
}

@media (max-width:480px) {
    .wysiwyg {
        width: 100%;
    }
}

.image--responsive {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.image--block {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden
}

.margin--bottom {
    margin-bottom: 50px;
}

.image--small {
    width: 180px;
    height: auto;
}


/*Header*/

.header-wrapper {
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position-y: 40%;
}

.header-wrapper--portraits {
    background: url('../img/portraits/header-bg-portraits.jpg') no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.header-wrapper--landscapes {
    background: url('../img/landscapes/header-bg-landscapes.jpg') no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

.header-wrapper--illustrations {
    background: url('../img/illustrations/header-bg-illustrations.jpg') no-repeat;
    background-size: cover;
    background-position-y: 15%;
}

.header-wrapper--info {
    background: url('../img/portraits/header-bg-portraits.jpg') no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.header-wrapper--about {
    background: url('../img/about/header-bg-about.jpg') no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.header-wrapper--simple {
    background: black;
}

.site-header {
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 40px;
}

.top {
    padding: 20px 0;
}

.logo {
    float: left;
}

.logo a img {
    width: 150px;
}

.site-logo {
    display: inline-block;
}

@media (max-width: 768px) {
    .logo {
        float: none;
        width: 100%;
    }
    .logo a img {
        display: block;
        margin: 0 auto;
    }
}

.hero {
    padding: 250px 0 350px 0;
}

@media (max-width: 992px) {
    .hero {
        padding: 150px 0 250px 0;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 70px 0 80px 0;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 30px 0 35px 0;
    }
}

.hero h1,
.hero--page h1 {
    font-size: 55px;
    line-height: 57px;
    color: white;
    text-align: center;
}

@media (max-width: 992px) {
    .hero h1,
    .hero--page h1 {
        font-size: 40px;
        line-height: 42px;
    }
}

@media (max-width: 480px) {
    .hero h1,
    .hero--page h1 {
        font-size: 30px;
        line-height: 32px;
    }
}

.hero--page {
    padding: 110px 0 200px 0;
}

@media (max-width: 992px) {
    .hero--page {
        padding: 90px 0 110px 0;
    }
}

@media (max-width: 768px) {
    .hero--page {
        padding: 70px 0 80px 0;
    }
}

@media (max-width: 480px) {
    .hero--page {
        padding: 30px 0 35px 0;
    }
}

.hero--page-small {
    padding: 0;
}


/* @media (max-width: 992px) {
			.hero--page {
				padding: 90px 0 110px 0;
			}
		}
		@media (max-width: 768px) {
			.hero--page {
				padding: 70px 0 80px 0;
			}
		}
		@media (max-width: 480px) {
			.hero--page {
				padding: 30px 0 35px 0;
			}
		} */

.text--intro {
    color: white;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    font-family: 'black_jackregular';
    letter-spacing: 2px;
}

@media (max-width: 992px) {
    .text--intro {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .text--intro {
        font-size: 18px;
        line-height: 25px;
    }
}


/*Doormat - Footer*/

@media (max-width: 992px) {
    .doormat img {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .doormat img {
        width: 75%;
        height: auto;
    }
}

.footer {
    padding: 20px 0;
    background: white;
}

.footer .copyright {
    font-size: 13px;
}

.footer .copyright:before {
    content: "";
    position: relative;
    background: url('../img/favicon.png') no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    margin-right: 10px;
    top: -5px;
}

.footer a {
    color: black;
}

@media (max-width: 768px) {
    .footer .copyright {
        text-align: center;
    }
    .footer .copyright:before {
        display: block;
        left: 48%;
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
    }
}


/*Type*/

.heading {
    margin-top: 0;
    font-weight: 400;
}

h1,
.heading--1 {
    font-size: 40px;
    color: black;
    line-height: 42px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 480px) {
    h1,
    .heading--1 {
        font-size: 30px;
        color: black;
        line-height: 35px;
        font-family: 'Quicksand', sans-serif;
    }
}

h2,
.heading--2 {
    font-size: 35px;
    color: black;
    line-height: 33px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    h2,
    .heading--2 {
        font-size: 25px;
        color: black;
        line-height: 25px;
        font-family: 'Quicksand', sans-serif;
    }
}

h3,
.heading--3 {
    font-size: 35px;
    color: black;
    line-height: 37px;
    font-family: 'black_jackregular';
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    h3,
    .heading--3 {
        font-size: 25px;
        line-height: 30px;
    }
}

h4,
.heading--4 {
    font-size: 18px;
    color: black;
    line-height: 23px;
    margin-top: 20px;
}

.heading--4-alt {
    font-family: 'black_jackregular';
    font-size: 25px;
    color: black;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}

p,
ul,
ol {
    font-size: 14px;
    line-height: 23px;
    font-family: 'Raleway', sans-serif;
}

.text--center {
    text-align: center;
}

.text--big {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
}

.text--lead {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
}

@media (max-width: 480px) {
    .text--lead {
        font-size: 18px;
        line-height: 28px;
    }
}

.text--quote {
    font-size: 26px;
    line-height: 35px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .text--quote {
        font-size: 21px;
        line-height: 30px;
        font-weight: 400;
    }
    img.quote {
        width: 50px;
        height: auto;
    }
}

.author {
    font-family: 'black_jackregular';
    font-size: 21px;
}

.author a {
    color: white;
}

.author a:hover {
    text-decoration: none;
}

.author a span {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

@media (max-width: 768px) {
    .author {
        font-size: 18px;
    }
}

ul,
ol {
    padding-left: 20px;
}

ul li,
ol li,
ul dt,
ol dt {
    margin-bottom: 20px;
}

ol.steps {
    counter-reset: my-badass-counter;
    padding-left: 12px;
}

ol.steps dt {
    margin-left: 38px;
}

ol.steps dt:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    background: black;
    border-radius: 30px;
    padding: 5px 10px 7px 10px;
    color: white;
    font-weight: 700;
    margin-right: 14px;
    margin-left: -41px;
}

.quote {
    width: 50px;
    height: auto;
}


/*Navigation*/

.nav {}

.nav--main {
    float: right;
}

.nav--main ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.nav--main ul li {
    display: inline;
    margin-left: 20px;
}

.nav--main ul li:first-child {
    margin-left: 0;
}

.nav--main ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    padding: 2px 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    transition: border 0.3s ease;
}

.nav--main ul li a:hover,
.nav--main ul li.active a {
    border: 1px solid white;
    padding: 2px 8px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .nav--main {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .nav--main ul {}
    .nav--main ul li {
        display: inline-block;
        margin-bottom: 10px;
    }
    .nav--main ul li a {
        background: white;
        background: rgba(255, 255, 255, .5);
        color: black;
        padding: 2px 8px;
        border-radius: 30px;
        transition: background 0.3s ease;
        font-size: 13px;
        font-weight: 700;
        border: none;
    }
    .nav--main ul li a:hover,
    .nav--main ul li.active a {
        border: none;
        background: rgba(255, 255, 255, .9);
    }
}


/*Blocks*/

.excerpt {
    width: 100%;
}

.excerpt--header {
    width: 100%;
    border: 9px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

@media (max-width: 768px) {
    .excerpt {
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .excerpt {
        width: 100%;
    }
}

.excerpt--body {
    margin-top: 30px;
}

iframe {}

@media (max-width: 1200px) {
    iframe {
        width: 900px;
        height: 450px;
    }
}

@media (max-width: 992px) {
    iframe {
        width: 600px;
        height: 350px;
    }
}

@media (max-width: 786px) {
    iframe {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 480px) {
    iframe {
        width: 100%;
        height: 200px;
    }
}


/*Buttons*/

.btn--link {
    display: block;
    float: left;
}

.btn--link a,
.btn a,
.btn--neg a {
    display: inline-block;
    background-color: #171717;
    border-radius: 50px;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn--link a:hover,
.btn a:hover {
    background-color: #832151;
}

.btn {
    display: inline-block;
}

.btn--neg a {
    background-color: white;
    color: #171717;
    font-weight: 700;
}

.btn--neg a:hover {
    background-color: #d8d8d8;
}

.btn--small {
    font-size: 13px;
}

.btn--small a {
    padding: 5px 13px;
    display: inline-block;
    background-color: #171717;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn--small a:hover {
    background-color: #832151;
}


/*Icons*/

.socmedia--big img {
    width: 30px;
    margin-left: 7px;
}

@media (max-width: 480px) {
    .socmedia--big img {
        width: 20px;
        margin-left: 5px;
    }
}

.mail {
    font-size: 16px;
}